<div class="animate__animated animate__fadeIn">
    <h2>Por País</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input 
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event )"
                placeholder="Buscar país ..."
                ></app-pais-input>
        </div>
    </div>

    <ul *ngIf="listaPaisesSugeridos.length>0"
        class="list-group">
        <li *ngFor="let pais of listaPaisesSugeridos"
            (click)="buscar(pais.name)"
            class="list-group-item list-group-item-action pointer">
            <a [routerLink]="['/pais',pais.alpha2Code]"
                class="nav-link"    
            >{{pais.name}}</a>
        </li>
    </ul>

    <hr>

</div>

<div *ngIf="hayError" 
      class="alert alert-danger" >
    No se encontró nada con el término {{termino}}
</div>

<div *ngIf="!hayError && listaPaises.length>0" class="row">
    <div class="col">
        <app-pais-tabla [tablaPaises]="listaPaises"></app-pais-tabla>
    </div>
</div>
