<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{nombre}}, es un placer {{ genero | i18nSelect:invitaMapa }}.</p>
            <button pButton label="Cambiar persona" class="p-button-help" (click)="cambiarPersona()"></button>               
        </p-fieldset> 
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>{{ clientes.length| i18nPlural:clientesMapa }}.</p>
            <button pButton label="Borrar cliente" class="p-button-help" (click)="borrarCliente()"></button>
        </p-fieldset>                
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Clientes</b> 
            <pre>{{clientes}}</pre>
            <b>Clientes | slice:0</b> 
            <pre>{{clientes | slice:0 }}</pre>
            <b>Clientes | slice:1:2</b> 
            <pre>{{clientes | slice:1:2 }}</pre>
        </p-fieldset> 
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue" >
                    <b>{{item.key}}</b> : {{item.value}}
                </li>
            </ul>
        </p-fieldset> 
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>{{persona | json}}</pre>
        </p-fieldset> 
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(valorPromesa | async)">Cargando promesa</pre>
            <pre *ngIf="(valorPromesa | async)">{{valorPromesa | async}}</pre>
            <pre>Observando: {{miObservable | async}}</pre>
        </p-fieldset> 
    </div>

</div>